.Signup {
    background-color: #fafafa;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    padding: 10px;

}

.signup_Box {
    background-color: white;
    width: 340px;
    height: 510px;
    border: 1px solid rgb(215, 215, 215);

    box-sizing: border-box;
    padding: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 3px;
    margin-bottom: 10px;

    position: relative;
}


.logo_signup {
    width: 175px;
    margin-bottom: 45px;
}


.credentialsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.mailInput,
.passwordInput,
.fullNameInput,
.userNameInput {
    padding: 10px 10px;
    border: 1px solid lightgray;
    outline: none;
    margin-bottom: 7px;
    border-radius: 3px;
    background: #fafafa;
}

.signupBtn {
    padding: 7px 0;
    border: none;
    border-radius: 5px;
    background: dodgerblue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}


.logInoption {
    width: 340px;
    height: 70px;
    border: 1px solid rgb(215, 215, 215);
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}


.signupBtnHolder {
    width: 100%;
    position: relative;
}


.logInoption .logInLink {
    color: dodgerblue;
    font-weight: 600;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}

.overTheSignupBtn {
    background-color: white;
    position: absolute;
    top: 0;
    opacity: 0.5;
    cursor: default;
    height: 100%;
}

.errorMessage {
    text-align: center;
    width: 100%;
    color: rgb(217, 57, 57);
    position: absolute;
    bottom: 20px;
}


@media screen and (max-width:350px) {

    .signup_Box,
    .logInoption {
        background-color: #fafafa;
        border: none;
    }

    .signup_Box,
    .logInoption {
        width: 90%;
    }
}


@media screen and (max-height:550px) {
    .Signup {
        height: 550px;
    }
}