.reelsHolder {
    width: 600px;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid rgb(215, 215, 215);
    margin-bottom: 30px;
    padding: 25px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 65px);
    grid-template-rows: 65px;
    grid-auto-flow: column;
    grid-gap: 20px;
    overflow-x: scroll;
}


.singleReel {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 3px;
}

.reelProfileImage {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}


@media screen and (max-width:600px) {
    .reelsHolder {
        border: none;
        width: 100vw;
    }
}


@media screen and (max-width:400px) {
    .reelsHolder {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}