.reelsHolder {
    width: 600px;
    height: 115px;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid rgb(215, 215, 215);

    margin-bottom: 30px;
}

@media screen and (max-width:640px) {
    .reelsHolder {
        border: none;
    }
}


@media screen and (max-width:600px) {
    .reelsHolder {
        width: 100%;
    }
}