.CreatePostParentWrapper {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.createPostContainer {
    width: 45vmax;
    background-color: white;
    height: 75vmin;
    border-radius: 12px;
}


#createPostContainerHeader {
    height: 50px;
    border-bottom: 1px solid rgb(215, 215, 215);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}


#createPostContainerUploadArea {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#createPostContainerCaptionArea {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#captionArea {
    width: 70%;
    resize: none;
    height: 50%;
    outline: none;
    padding: 15px 25px;
}

.post {
    margin-top: 25px;
    padding: 7px 22px;
    background-color: dodgerblue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.post:active {
    background-color: rgb(32, 103, 174);
}

.bi-image {
    font-size: 70px;
}

.progressPercent {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
}

#uploadBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(33, 122, 211);
    border: none;
    color: white;
    border-radius: 4px;
}

#uploadBtn:active {
    background-color: rgb(32, 103, 174);
}

.someAdditionalWrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.someAdditionalWrapper small {
    font-size: 20px;
    margin: 20px 0;
}

.cancel-x {
    color: white;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translate(0%, -45%);
    cursor: pointer;
}

@media screen and (max-width:600px) {
    .createPostContainer {
        width: 400px;
        height: 450px;
        margin: 0 10px;
    }
}