.CreatePostParentWrapper {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.createPostContainer {
    width: 45vmax;
    background-color: white;
    height: 35vmax;
    border-radius: 12px;
}


#createPostContainerHeader {
    height: 50px;
    border-bottom: 1px solid rgb(215, 215, 215);

    display: flex;
    justify-content: center;
    align-items: center;
}


#createPostContainerUploadArea {
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi-image {
    font-size: 70px;
}

#uploadBtn {
    padding: 5px 7px;
    cursor: pointer;
    background-color: rgb(33, 122, 211);
    border: none;
    color: white;
    border-radius: 4px;
}

.someAdditionalWrapper {
    width: 300px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.someAdditionalWrapper small {
    font-size: 20px;
    margin: 20px 0;
}

.bi-x-lg {
    color: white;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}