.SinglePostView {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.individualPostContainer {
    width: clamp(800px, 100%, 70vmax);
    background-color: white;
    height: clamp(550px, 100%, 45vmax);
    display: flex;
}


.cancel {
    color: white;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(0, -45%);
    cursor: pointer;
}


.photoPart {
    width: 55%;
    height: 100%;

    background: #000;
}

.commentsPart {
    width: 45%;
    height: 100%;
    position: relative;
}


.commentsPartSmaller {
    position: relative;
    height: 55%;
    width: 100%;
    display: none;
}


.photoPart img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}


.commentPartHeader {
    height: 60px;
    border-bottom: 1px solid lightgray;

    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 15px;
    position: relative;
}

#img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

#img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.allCommentsArea {
    width: 100%;
    height: calc(100% - 230px);
    overflow: hidden;
    overflow-y: scroll;
}


.commentPartBottom {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid lightgray;
}



.Comment {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cmtImgCntnr {
    width: 40px;
    height: 40px;
}

.cmtImgCntnr img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.Comment span {
    width: calc(100% - 15px - 40px);
}


.SinglePostViewProfileUserName:hover {
    text-decoration: underline;
    cursor: pointer;
}


.selectDots {
    position: absolute;
    right: 15px;
    top: 15px;
}



@media screen and (max-width:600px) {
    .commentsPart {
        width: 100vw;
        height: 55%;
    }


    .photoPart {
        width: 100vw;
        height: 45%;
    }

    .individualPostContainer {
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
    }
}


@media screen and (max-height:560px) {
    .allCommentsArea {
        height: 70px;
    }

    .commentPartBottom {
        height: calc(100% - 60px - 75px);
        overflow-y: scroll;
    }
}