.settings {
    width: 900px;
    height: calc(100vh - 125px);
    background-color: white;
    border: 1px solid lightgray;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* ------------------------ */
#bio {
    width: 320px;
    resize: none;
    outline: none;
    border: 1px solid lightgray;
    box-sizing: border-box;
    padding: 10px;
}

.bioUpperFeatures {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addUserBio {
    width: 100%;
}


/* ---------------------- */




.updateEmail,
.changePassword,
.addUserBio,
.deleteAcc {
    height: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



#emailUpdate,
#passwordChange {
    width: 320px;
    height: 40px;
    outline: none;
    box-sizing: border-box;
    padding-left: 10px;
}


.bioSubmit,
#emailUpdateBtn,
#passwordChangeBtn {
    height: 30px;
    width: 125px;
    border: none;
    background-color: dodgerblue;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.bioSubmit:active,
#passwordChangeBtn:active,
#emailUpdateBtn:active {
    background-color: rgb(32, 103, 174);
}


#deleteAccountButton {
    background-color: #eb5353;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    width: 320px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#deleteAccountButton:active {
    background-color: rgb(216, 79, 79);
}

/* ------------------------------------ */

.settingsObjective div {
    justify-content: flex-end;
}

.settingsObjective div strong {
    width: 90%;
}

/* ------------------------- */
.confirmBox {
    width: 450px;
    background-color: white;
    border-radius: 5px;
}

#yes {
    background-color: lightgray;
}

#yes:active {
    background-color: rgb(245, 245, 245);
}


@media screen and (max-width:900px) {
    .settings {
        width: 100vw
    }
}


@media screen and (max-width:750px) {

    .updateEmail,
    .changePassword,
    .addUserBio,
    .deleteAcc {
        flex-direction: column;
    }

    #emailUpdate,
    #passwordChange,
    #bio,
    #deleteAccountButton,
    .bioSubmit,
    #emailUpdateBtn,
    #passwordChangeBtn {
        width: 90%;
    }

    #deleteAccountButton {
        height: 30px;
    }
}